.invTab-invoice-tab {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.invTab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.invTab-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start; /* Change to left-aligned */
  width: 100%;
}

.invTab-button {
  padding: 8px 18px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.invTab-button.invTab-upload {
  background-color: #28a745;
}

.invTab-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.invTab-upload-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.invTab-upload-form input[type="file"] {
  padding: 5px;
}

.invTab-invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 13.5px; /*k*/
}

.invTab-invoice-table th,
.invTab-invoice-table td {
  border: 1px solid #ddd;
  padding: 7.5px 11.5px; /*k*/
  text-align: left;
}

.invTab-invoice-table th {
  background-color: #f4f4f4;
}

.invTab-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.invTab-pagination-button {
  padding: 6px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.invTab-pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
